NETBOX_URL=https://netbox.suaempresa.com.br/
NETBOX_TOKEN=seu_token_api_aqui
NETBOX_SITE=POP-PADRAO
NETBOX_ROLE=SWITCH
NETBOX_DEVICE_TYPE=DM4380 12XS+3CX
VRF_NAME=VRF-Global
DISABLE_SSL_VERIFY=true
SSH_USER=admin
SSH_PASS=sua_senha_ssh_aqui
